/.gradle
/local.properties
/**/.DS_Store
/**/*build/
/.idea/*
/MaterialDesignDemo
/fzAndroidMap
/**/*.apk
/**/*.iml
/app/manifest-merger-debug-report.txt
/app/manifest-merger-taobao-debug-report.txt
/app/manifest-merger-baidu-debug-report.txt
/app/manifest-merger-baidu-release-report.txt
/app/manifest-merger-release-report.txt
