<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madx.bwm"
    android:installLocation="auto"
    >

    <!-- com.madx.bwm -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- baidu map -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.madx.bwm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.madx.bwm.permission.C2D_MESSAGE" />
    <!-- if we wants to keep the device from sleeping. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- christopher -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- jiguang push -->
    <permission
        android:name="com.madx.bwm.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.madx.bwm.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" /> -->
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- 友盟统计 -->
        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="${UMENG_CHANNEL_VALUE}" /> -->

        <!-- gaode map -->
        <!--<meta-data-->
            <!--android:name="com.amap.api.v2.apikey"-->
            <!--android:value="83390a943f5896f8210b294faec6c5a3" />-->
        <!-- baidu map -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/jackie_baidu_maps_key_debug" />
            <!--android:value="@string/baidu_maps_key_debug" />-->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--<meta-data-->
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="@string/google_maps_key" />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <!-- gcm receiver -->
        <receiver
            android:name=".receiver_service.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.madx.bwm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".receiver_service.GcmIntentService"
            android:enabled="true" />

        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity android:name=".ui.LoginActivity"  android:screenOrientation="portrait"/> -->
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
             />
        <activity
            android:name=".ui.EventDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.EventNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wall.WallCommentActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wall.WallNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.wall.WallMembersOrGroupsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.wall.SelectPhotosActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.Map4GoogleActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Map4BaiduActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            />
        <!--<activity-->
            <!--android:name=".ui.Map4GaoDeActivity"-->
            <!--android:noHistory="true"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="adjustResize"-->
            <!--/>-->
        <activity
            android:name=".ui.InvitedStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EventEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.InvitedEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ViewOriginalPicesActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.BondAlertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TellAFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MissListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NewsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RecommendActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AlertEventActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AlertWallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NewsInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AddMemberWorkFlow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.BondAlert.BigDayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MemberActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AlertGroupActivity"
            android:screenOrientation="portrait" />


        <!-- christopher -->

        <activity
            android:name=".ui.CreateGroupActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CreateGroupDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GroupSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GroupNameSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SignUpPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SignUpUsernameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InformationPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InformationUsernameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CountryCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PersonalPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FamilyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyViewProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.MeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SignUpPhonePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SignUpUsernameVerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FamilyViewProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddNewMembersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ViaContactMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ViaIdNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProfileResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.RelationshipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AlbumGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PathRelationshipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MessageChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />






        <activity android:name=".ui.more.MoreSettingActivity" >
        </activity>
        <activity
            android:name=".ui.more.AutoAcceptActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.more.BirthdayAlertActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.more.GroupPrivacyActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.InviteMemberActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AlbumDetailActivity"
            android:screenOrientation="portrait" />

        <!-- 极光推送 -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.madx.bwm" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.madx.bwm" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- 极光自定义的广播接收器 -->
        <receiver
            android:name=".receiver_service.JiGuangBroadcastReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.madx.bwm" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->

        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="@string/jiguang_api_key" /> <!--  </>值来自开发者平台取得的AppKey-->


        <!-- 全局网络状态监听广播接收器 -->
        <receiver android:name="com.madx.bwm.receiver_service.NetWorkStateReceiver">
            <intent-filter >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED">-->
            </intent-filter>
        </receiver>
    </application>

</manifest>
